<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/auth.css">
  <title>Space</title>
</head>

<body>
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form action="/auth/signup" method="post">
        <h2>Sign Up</h2>
        <input type="text" id="name" name="name" placeholder="Name" required>
        <input type="text" id="username" placeholder="Enter your Username" name="username" required>
        <input type="email" id="Email" placeholder="Email" name="email" required>
        <input type="password" id="password" placeholder="Enter your password" name="password" required>
        <button class="sign-up">Sign Up</button>  
      </form>
    </div>

    <div class="form-container sign-in-container">
      <form action="/auth/signin" method="post">
        <h2>Sign In</h2>
        <input type="email" id="Email" name="email" placeholder="Email" required>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
        <% if(locals.error){ %>
            <p><%= error %></p>
        <%}%>
        <button type="submit" class="sign-in">Sign in</button> 
        <a href="#" id="newToSpace">New to Space?</a>
      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel panel-left">
          <h2>Welcome Back </h2>
          <span>Enter your details dear Spacer!</span>
          <button class="login" id="login">Sign in</button>
        </div>

        <div class="overlay-panel panel-right">
          <h2>Hello, Friend!</h2>
          <span>Register to enjoy the sites benefits</span>
          <button class="login" id="register">Sign Up</button>
        </div>
      </div>
    </div>
  </div>


  <script src="./js/auth.js"></script>
</body>

</html>